@{
    var years = ((new DateTime(1, 1, 1)) + (DateTime.Now - (new DateTime(1996, 9, 17)))).Year - 1;
}
<!--  <partial name="../Carousel/_CarouselPartial" />  -->

    <div @*class="container-fluid"*@>
        <div class="row padding-top-increased">

            <!-- Photo and social media links -->
            <div id="PhotoAndSocialMedia" class="col-lg-6">
                <section id="Photo">
                    <div id="AppearAfter05Secs">
                        <img src="~/images/MyProfile.jpg" class="img-responsive img-thumbnail">
                    </div>
                </section>
                <section id="Social">
                    <div id="AppearAfter1Secs" class="container-fluid">
                        <div class="row text-center social">
                            <div class="col-xs-6 col-sm-4 col-md-2">
                                <a href="https://mail.google.com/mail/?view=cm&fs=1&to=georgecosminmorosanu@gmail.com" target="_blank"><i class="far fa-envelope"></i></a>
                            </div>

                            <div class="col-xs-6 col-sm-4 col-md-2">
                                <a href="https://www.linkedin.com/in/george-cosmin-morosanu-58272115a/" target="_blank"><i class="fab fa-linkedin"></i></a>
                            </div>

                            <div class="col-xs-6 col-sm-4 col-md-2">
                                <a href="https://github.com/GeorgeMorosanu" target="_blank"><i class="fab fa-github"></i></a>
                            </div>

                            <div class="col-xs-6 col-sm-4 col-md-2">
                                <a href="https://www.facebook.com/georgecosmin.morosanu" target="_blank"><i class="fab fa-facebook"></i></a>
                            </div>

                            <div class="col-xs-6 col-sm-4 col-md-2">
                                <a href="https://steamcommunity.com/id/GadoZ/" target="_blank"><i class="fab fa-steam"></i></a>
                            </div>

                            <div class="col-xs-6 col-sm-4 col-md-2">
                                <a href="https://www.instagram.com/george.morosanu1067/" target="_blank"><i class="fab fa-instagram"></i></a>
                            </div>

                        </div>
                    </div>
                </section>
            </div>

            <!-- Some info about me -->
            <div id="Short-About" class="col-lg-6">
                <div id="AppearAfter05Secs2">
                    <h1 class="text-center"><span id="Greeting"></span></h1>
                    <p class="text-size-130">
                        &nbsp;&nbsp;My name is George, I'm @years years old, I'm from Romania, and currently I'm living in Reykjavik, Iceland.
                    </p>
                    <p class="text-size-130">
                        &nbsp;&nbsp;I have finished my undergraduate studies in Romania at <a class="a-text-normal" href="http://www.uaic.ro/en/" target="_blank">"Alexandru Ioan Cuza" University of Iasi</a>, and I have a B.Sc. degree in <a class="a-text-normal" href="https://www.info.uaic.ro/en/home-page-2/" target="_blank">Computer Science</a>.
                    </p>
                    <p class="text-size-130">
                        &nbsp;&nbsp;I am an open-minded and competitive person who will always keep my word, and I will go the extra mile to do a great job!
                    </p>
                    <p class="text-size-130">
                        &nbsp;&nbsp;Beside my passion for IT, I am interested in Design, Sports, Nutrition, Music and Games.
                    </p>
                    <p class="text-size-130">
                        &nbsp;&nbsp;You can find more details about me <a asp-area="" asp-controller="MyStory" asp-action="Index">here</a>, or if you're intrested in my resume, you can find it right <a asp-area="" asp-controller="Resume" asp-action="Index">here</a>.
                    </p>
                </div>
                <div id="AppearAfter1Secs2">
                    <div id="Dates">
                        <div id="LastUpdate" class="text-right">Last update: 19 April 2019</div>

                        <div id="DateTime" class="text-right"></div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <script type="text/javascript">

        refreshClock();

        refreshGreetingText();

        function refreshGreetingText() {

            var greeting = "";

            var currentdate = new Date();

            if (currentdate.getHours() < 12) {
                greeting = "Good morning!"
            }
            else if (currentdate.getHours() < 18) {
                greeting = "Good afternoon!"
            }
            else {
                greeting = "Good evening!"
            }
            //console.log(greeting + "\n The time is: " + currentdate);

            document.getElementById("Greeting").innerHTML = greeting;

            setTimeout(refreshGreetingText, 50000);
        }
        function refreshClock() {

            const NameOfMonths = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            var currentdate = new Date();

            var currentDate = /*"Current date: " +*/ currentdate.getDate() + " "
                + NameOfMonths[currentdate.getMonth()] + " "
                + currentdate.getFullYear();

            var currentTime = /*"Current time: ";*/"";

            if (currentdate.getHours() < 10) {
                currentTime = currentTime + "0";
            }
            currentTime = currentTime + currentdate.getHours() + ":";

            if (currentdate.getMinutes() < 10) {
                currentTime = currentTime + "0";
            }
            currentTime = currentTime + currentdate.getMinutes() + ":";

            if (currentdate.getSeconds() < 10) {
                currentTime = currentTime + "0";
            }
            currentTime = currentTime + currentdate.getSeconds();

            //document.getElementById("Date").innerHTML = currentDate;
            //document.getElementById("Time").innerHTML = currentTime;
            document.getElementById("DateTime").innerHTML = "Current time: "+currentDate+", "+currentTime;

            setTimeout(refreshClock, 1000);
        }
    </script>