/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-bottom: 20px;
    color: black !important;
    text-align: justify;
    word-break: break-word;
    background: linear-gradient(to right, #D3D3D3, transparent, transparent, transparent, transparent, transparent, #D3D3D3);
    
}

.text-vertical-center {
    margin: auto;
}

.background-cover {
    width: auto;
    height: 100%;
}

.paragraph{
    padding-left:3%;
}


.a-text-normal {
    color: black;
    text-decoration: none;
}

.a-text-normal:hover {
    color: black;
}


.text-size-education-title {
    font-size: 130%;
}

.education-padding{
    padding-top: 2%;
}

.text-size-120 {
    font-size: 120%;
}

.text-size-personal-info {
    font-size: 120%;
}

.padding-after-section{
    padding-bottom: 2%
}

.text-size-bigger {
    padding-top:2%;
    font-size: 120%;
}
.text-size-130{
    font-size:130%;
}

.text-size-skills li {
    font-size: 120%;
    padding-bottom: 2%;
}

.padding-left-right-none{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.personality li, .interests li{
    font-size: 120%;
    margin: 0 !important;
}

.projects li{
    padding-top: 2%;
}
.projects li p{
    font-size:120%;
    margin: 0 !important;
}

.img {
    height: 100%;
    width: auto;
}

.interval-color{
    color:lightslategray
}

.ul-no-bullets {
    list-style-type: none;
}

.ul-no-padding-left{
    padding-left:0 !important;
}

.social a {
    font-size: 4em;
}

.fa-facebook {
    color: #4267B2 ;
}

.fa-envelope {
    color: #F14336;
}

.fa-instagram {
    color: #9747B6;
}

.fa-steam {
    color: #0E1B2E; /*, #147EAE;*/
}
.fa-github {
    color: #171515;
}

.fa-linkedin {
    color: #0077B5 ;
}

.fa-facebook:hover, .fa-github:hover, .fa-linkedin:hover, .fa-envelope:hover, .fa-steam:hover, .fa-instagram:hover {
    transition: color .3s;
    color: #393838;
}

.resume-padding {
    padding-left: 13%;
    padding-right: 13%;
}


/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.language-skills-padding {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.computer-skills-padding {
    padding-top: 0 !important;
    margin-top: 0 !important;
}

#DateTime, #LastUpdate {
    font-size: 24px;
}

#Dates{
    padding-top: 5%;
}

.padding-contact{
    padding-left: 20%;
    padding-right: 20%;
}
.rarely {
    color: darkorange;
}
.daily{
    color: green;
}
/*Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap*/
/*Small (sm) devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
}
/*Medium (md) devices (tablets, 768px and up)*/
@media (max-width: 768px) {
    /* Hide/rearrange for smaller screens */
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
    #Short-About {
        padding-top: 3%;
    }
    .ul {
        list-style-type: none;
    }
}

/*Large (lg) devices (desktops, 992px and up)*/
/*@media (max-width: 992px) {
    
}*/

/*Extra (xl) large devices (large desktops, 1200px and up)*/
/*@media (max-width: 1200px) {

}*/

.text-align-normal{
    text-align: initial;
}

.padding-top-increased {
    padding-top: 3%;
}
.padding-bottom-increased{
    padding-bottom: 3%
}

.Story p {
    font-size: 18px;
}

#Sections {
    opacity: 0;
}