<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#050148" />

    <link rel="icon" href="~/images/MyLogo.png">
    <title>George-Cosmin Moroșanu</title>


    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/scrollbar.css" />
    <link rel="stylesheet" href="~/css/Sudoku.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/Bootstrap4Buttons.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

</head>
<body>
    <nav id="navbar" class="custom_navbar navbar navbar-inverse navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container display-inline-on-phone">
            <div class="navbar-header">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand a-logo"><img class="my_logo" src="~/images/Logo.gif" /></a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="CollapsableNavbar" class="navbar-collapse collapse">
                <ul id="Sections" class="nav navbar-nav navbar-right navbar-text-size">
                    <li><a asp-area="" asp-controller="Resume" asp-action="Index">Resume</a></li>
                    <li><a asp-area="" asp-controller="MyStory" asp-action="Index">My story</a></li>
                    <li><a asp-area="" asp-controller="Contact" asp-action="Index">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />


    <div class="page-content-padding container body-content">
        @RenderBody()
        
        
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>

<script>

    window.location.reload(true);

    $("#Sections").animate({ opacity: 1 }, 1000);

    for (i = 1; i < 11; i++) {
        var nameOfClass = "#AppearAfter" + i + "Secs";
        $(nameOfClass).animate({ opacity: 1 }, i * 1000);
    }

    $("#AppearAfter05Secs").animate({ opacity: 1 }, 500);
    $("#AppearAfter05Secs2").animate({ opacity: 1 }, 500);
    $("#AppearAfter1Secs2").animate({ opacity: 1 }, 1000);




    var initialScrollPosition = window.pageYOffset;

    window.onscroll = function () {
        var currentScrollPosition = window.pageYOffset;

        if (initialScrollPosition > currentScrollPosition) {
            if (initialScrollPosition <= 50) {
                document.getElementById("navbar").style.top = "0";
                //$('.navbar-collapse').fadeIn();
            }
        } else {
            if (initialScrollPosition > 50) {
                document.getElementById("navbar").style.top = "-75px";
                
                $('.navbar-collapse').delay(1000).attr('aria-expanded', 'false');
                $('.navbar-collapse').delay(1000).removeClass("in");
                $('.navbar-collapse').delay(1000).style ="height: 1px";
            }
        }

        initialScrollPosition = currentScrollPosition;
    }

    function checkScroll() {
        if (window.pageYOffset <= 50) {
                document.getElementById("navbar").style.top = "0";
                //$('.navbar-collapse').fadeIn();
        }
        setTimeout(checkScroll, 2000);
;    }
    checkScroll();
</script>