
@{
    ViewData["Title"] = "Index";
}
    <div class="resume-padding">
        <!-- Name -->
        <div class="text-center padding-after-section">
            <h1><i>George-Cosmin Moroșanu</i></h1>
        </div>

        <!-- Personal Data + Photo -->
        <div class="row container-fluid padding-after-section">
            <div class="col-lg-8 text-size-personal-info">
                <h2 class="text-center"><b><i>Personal Data</i></b></h2>
                <br />
                <ul>
                    <li>
                        <b>ID Number:</b> 170996-5269
                    </li>
                    <li>
                        <b>Phone Number:</b>  777 2181
                    </li>
                    <li>
                        <b>Address:</b> Möðrufell 7, 3HH, 111 Reykjavík, Iceland
                    </li>
                    <li>
                        <b>Birth Date:</b>  17.09.1996
                    </li>
                    <li>
                        <b>E-mail:</b> georgecosminmorosanu@gmail.com
                    </li>
                    <li>
                        <b>LinkedIn:</b> https://www.linkedin.com/in/george-cosminmorosanu-58272115a/
                    </li>
                    <li>
                        <b>GitHub:</b>
                        <ul>
                            <li>https://github.com/GeorgeMorosanu</li>
                            <li>https://github.com/GeoMoro</li>
                        </ul>

                    </li>
                    <li>
                        <b>Facebook:</b> https://www.facebook.com/georgecosmin.morosanu
                    </li>
                </ul>
            </div>
            <div class="col-lg-4">
                <img src="~/images/MyProfile.jpg" alt="My Profile" class="img-responsive" />
            </div>
        </div>


        <!-- Bio -->
        <div class="container-fluid padding-after-section">
            <p>
                &nbsp;&nbsp;I have finished my undergraduate studies at “Alexandru Ioan Cuza” University of Iasi, Romania, obtaining a B.Sc. in Computer Science, and my current goal is to complete the academic level for a M.Sc. in Software Engineering
            </p>
        </div>


        <!-- Education -->
        <div class="container-fluid padding-after-section">
            <h2 class="text-left"><b><i>Education</i></b></h2>
            <ul class="ul-no-bullets">
                <li>
                    <b class="text-size-education-title text-justify"><i>Bachelor of Science</i> in Computer Science</b>, <i> <a class="a-text-normal" href="http://www.uaic.ro/en/" target="_blank">“Alexandru Ioan Cuza” University of Iasi, Romania</a>.</i>
                    <br />
                    <div class="text-right interval-color text-size-education-interval"><i>October 2015 - July 2018</i></div>
                </li>
                <br />
                <li>
                    <b class="text-size-education-title text-justify"><i>High School Diploma</i></b>, <i>“Mihail Kogalniceanu” Academic High School, Vaslui, Romania.<br />(Mathematics – Informatics specialization)</i>
                    <br />
                    <div class="text-right interval-color text-size-education-interval"><i>September 2011 - July 2015</i></div>
                </li>
            </ul>
        </div>


        <!--Skills-->
        <div class="padding-after-section">
            <!-- Language skills -->
            <div class="col-lg-6">
                <h2 class="text-center"><b><i>Language Skills</i></b></h2>
                <ul class="text-size-skills">
                    <li>
                        <b>Romanian -</b> native language
                    </li>
                    <li>
                        <b>English -</b> fluent, spoken and written
                    </li>
                    <li>
                        <b>Icelandic -</b> Level 1(Mímir)
                    </li>
                </ul>
            </div>
            <!-- Computer skills -->
            <div class="col-lg-6">
                <h2 class="text-center"><b><i>Computer Skills</i></b></h2>
                <div class="col-lg-6 padding-left-right-none ">
                    <ul class="text-size-skills">
                        <li>C# (ASP.Net)</li>
                        <li>SQL, PL/SQL, MySQL</li>
                        <li>Vue, Angular and React (basics)</li>
                    </ul>
                </div>
                <div class="col-lg-6 padding-left-right-none ">
                    <ul class="text-size-skills">
                        <li>HTML, CSS</li>
                        <li>JavaScript</li>
                        <li>C/C++</li>
                        <li>Java</li>
                        <li>Python</li>
                        <li>PHP</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Projects and Trainings -->
        <div class="container-fluid padding-after-section">
            <h2 class="text-left"><b><i>Projects and additional Trainings</i></b></h2>
            <ul class="ul-no-bullets ul-no-padding-left projects">
                <li>
                    <h4>
                        <b class="text-size-education-title text-justify">MediArch</b><i class="interval-color"> – September 2017 - June 2018</i>
                    </h4>
                    <p>
                        &nbsp;&nbsp;This is my <b>bachelor’s degree project</b>, and it stands for <i>“Medical Archive”</i>.
                    </p>
                    <p>
                        &nbsp;&nbsp;It is a Web Application via C# ASP.Net Core, with Oracle SQL Server as database. The architectural pattern I have used is MVC (Model-View-Controller).
                    </p>
                    <p>
                        &nbsp;&nbsp;Other concepts used are: Onion Architecture, Entity Framework (as ORM), 3DES Cryptosystem and SOLID Principles.
                    </p>
                    <p>
                        &nbsp;&nbsp;Main target: to help the patients by saving, in a secure way, all their medical background into a database, making all this useful data privately available (only the Doctor and the consulted Patient can see the consultation’s data) at any time.
                    </p>
                    <p class="text-right">
                        [GitHub: <a href="https://github.com/GeorgeMorosanu/Licenta-MediArch" target="_blank">https://github.com/GeorgeMorosanu/Licenta-MediArch</a>]
                    </p>
                </li>
                <li>
                    <h4>
                        <b class="text-size-education-title text-justify"> Course Manager</b><i class="interval-color"> – October 2017 - February 2018</i>
                    </h4>
                    <p>
                        &nbsp;&nbsp;A 6-person team <b>project</b> for one of our courses (Introduction in .NET ~ 1st semester, 3rd year).
                    </p>
                    <p>
                        &nbsp;&nbsp;It is a Web Application via C# ASP.Net Core, and we were using MVC as architectural pattern. The database was Oracle SQL Server. We have used Trello for delegating tasks.
                    </p>
                    <p>
                        &nbsp;&nbsp;Other concepts used are: Onion Architecture, Entity Framework (as ORM) and SOLID Principles.   Main target: to create a functional website related to this course.
                    </p>
                    <p>
                        *At the end of the semester there was a competition (hold by <i>Centric IT Solutions Romania, Iasi</i>), and our project obtained the 3rd place.
                    </p>
                    <p class="text-right">
                        [GitHub: <a href="https://github.com/GeorgeMorosanu/Licenta-MediArch" target="_blank">https://github.com/Scyree/.NetProject</a>]
                    </p>
                </li>
                <li>
                    <h4>
                        <b class="text-size-education-title text-justify">FII Online Admission</b><i class="interval-color"> – 2017</i>
                    </h4>
                    <p>
                        &nbsp;&nbsp;A group <b>project</b> (team of 25+ colleagues) for one of our courses (Software Engineering ~ 2nd semester, 2nd year).
                    </p>
                    <p>
                        &nbsp;&nbsp;Here we have applied all the knowledge taught on this course. I was part of Back-End module, but I also helped the Front-End module when they were in need.
                    </p>
                    <p>
                        &nbsp;&nbsp;Technology we have used: PHP, HTML, CSS, JavaScript and Oracle SQL.
                    </p>
                    <p>
                        *This application was used at the enrollment in our Faculty, in August 2017.
                    </p>
                    <p class="text-right">
                        [GitHub: <a href="https://github.com/GeorgeMorosanu/Licenta-MediArch" target="_blank">https://github.com/NadraX/FII-Online-Admission</a>]
                    </p>
                </li>
                <li>
                    <h4>
                        <b class="text-size-education-title text-justify">“Monster Party” and “Bomber Bot”</b><i class="interval-color"> – 2016 - 2017</i>
                    </h4>
                    <p>
                        &nbsp;&nbsp;Two <b>projects</b>, with small teams (3 and 4 persons) projects; mostly focused on Front-End.
                    </p>
                    <p>
                        &nbsp;&nbsp;Technologies used: PHP, HTML, JavaScript, CSS and MySQL
                    </p>
                    <p class="text-right">
                        [Bomber Bot GitHub: <a href="https://github.com/GeorgeMorosanu/Licenta-MediArch" target="_blank">https://github.com/GeoMoro/ProiectWEB</a>]
                    </p>
                    <p class="text-right">
                        [Monster Party GitHub: <a href="https://github.com/GeorgeMorosanu/Licenta-MediArch" target="_blank">https://github.com/siq10/WebPuzzle</a>]
                    </p>
                </li>
                <li>
                    <h4>
                        <b class="text-size-education-title text-justify">Full-stack .Net Training</b><i class="interval-color"> – “Fii Practic” 2018 - hold by BEENEAR S.R.L.</i>
                    </h4>
                    <p>
                        &nbsp;&nbsp;<b>Training</b> focused on .NET technology.
                    </p>
                    <p>
                        *The project I have done obtained the 2nd place at their final competition.
                    </p>
                </li>
                <li>
                    <h4>
                        <b class="text-size-education-title text-justify">Back-end .Net Training</b><i class="interval-color"> – “Fii Practic” 2018 - hold by MaxCode</i>
                    </h4>
                    <p>
                        &nbsp;&nbsp;<b>Training</b> focused on .NET technology.
                    </p>
                </li>
                <li>
                    <h4>
                        <b class="text-size-education-title text-justify">Graphic Design Training</b><i class="interval-color"> – “Fii Practic” 2016 - hold by Centric IT Solutions</i>
                    </h4>
                    <p>
                        &nbsp;&nbsp;This <b>training</b> was hold by Centric IT Solutions Romania, Iasi, and it was focused on Adobe Illustrator and Adobe Photoshop.
                    </p>
                </li>
            </ul>
            <p class="text-size-bigger">
                <a href="https://fiipractic.asii.ro/" target="_blank"><i>“Fii Practic”</i></a> is an event hosted by the Faculty of Computer Science in collaboration with many IT Companies, and there are plenty of interesting training courses every student can apply for.
            </p>
        </div>

        <!-- Personality -->
        <div class="container-fluid padding-after-section">
            <h2><b><i>Personality</i></b></h2>
            <ul class="personality">
                <li>
                    I am open-minded, flexible, responsible, devoted, trustworthy, ambitious and a good team player
                </li>
                <li>
                    I will always keep my word
                </li>
                <li>
                    I am a quick learner, and I like to learn from my (and especially others’) mistakes
                </li>
                <li>
                    I am an active person; I have practiced Traditional Karate for 10 years, and I earned the Black Belt
                </li>
                <li>
                    Former volunteer at <a href="https://www.asii.ro/" target="_blank">ASII</a> (which is the Association of Students from the Faculty of Computer Science – Iasi, Romania)
                </li>
                <li>
                    I have a driving license (B category)
                </li>
            </ul>
        </div>

        <!-- Interests -->
        <div class="container-fluid padding-after-section">
            <h2><b><i>Interests</i></b></h2>
            <ul class="interests">
                <li>
                    Working and learning in an innovative and friendly environment;
                </li>
                <li>
                    Learning new techniques;
                </li>
                <li>
                    Being part of a team;
                </li>
            </ul>
        </div>
    </div>
