
@{
    ViewData["Title"] = "Index";
}
    <div id="AppearAfter05Secs" class="resume-padding">
        <!-- Name -->
        <div id="Name" class="text-center padding-after-section">
            <h1><b><i>George-Cosmin Moroșanu</i></b></h1>
        </div>

        <!-- Personal Data + Photo -->
        <div id="Personal-Data" class="row container-fluid padding-after-section">
            <div class="col-lg-8 text-size-personal-info">
                <h2 class="text-center"><b><i><u>Personal Data</u></i></b></h2>
                <ul class="text-align-normal">
                    <li>
                        <b>ID Number:</b> 170996-5269
                    </li>
                    <li>
                        <b>Phone Number:</b>  777 2181
                    </li>
                    <li>
                        <b>Address:</b> Möðrufell 7, 3HH, 111 Reykjavík, Iceland
                    </li>
                    <li>
                        <b>Birth Date:</b>  17.09.1996
                    </li>
                    <li>
                        <b>E-mail:</b> <a href="https://mail.google.com/mail/?view=cm&fs=1&to=georgecosminmorosanu@gmail.com" target="_blank">georgecosminmorosanu@gmail.com</a>
                    </li>
                    <li>
                        <b>LinkedIn:</b> <a href="https://www.linkedin.com/in/george-cosmin-morosanu-58272115a/" target="_blank">https://www.linkedin.com/in/george-cosminmorosanu-58272115a/</a>
                    </li>
                    <li>
                        <b>GitHub:</b>
                        <ul>
                            <li><a href="https://github.com/GeorgeMorosanu" target="_blank">https://github.com/GeorgeMorosanu</a></li>
                            <li><a href="https://github.com/GeoMoro" target="_blank">https://github.com/GeoMoro</a></li>
                        </ul>

                    </li>
                    <li>
                        <b>Facebook:</b> <a href="https://www.facebook.com/georgecosmin.morosanu" target="_blank">https://www.facebook.com/georgecosmin.morosanu</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4">
                <img src="~/images/MyProfile.jpg" alt="My Profile" class="img-responsive img-thumbnail" />

            </div>
        </div>


        <!-- Short introduction -->
        <div id="Introduction" class="container-fluid padding-after-section text-size-personal-info">
            <p>
                &nbsp;&nbsp;I have finished my undergraduate studies at “Alexandru Ioan Cuza” University of Iasi, Romania, obtaining a B.Sc. in Computer Science, and my current goal is to complete the academic level for a M.Sc. in Software Engineering.
            </p>
        </div>


        <!-- Education -->
        <div id="Education" class="container-fluid padding-after-section">
            <h2 class="text-left"><b><i><u>Education</u></i></b></h2>
            <ul class="ul-no-bullets">
                <li class="text-size-120">
                    <b class="text-size-education-title text-justify"><i>Bachelor of Science</i> in <a class="a-text-normal" href="https://www.info.uaic.ro/" target="_blank">Computer Science</a></b>, <i> <a href="http://www.uaic.ro/en/" target="_blank" class="a-text-normal" >“Alexandru Ioan Cuza” University of Iasi, Romania</a>.</i>
                    <br />
                    <div class="text-right interval-color"><i>October 2015 - July 2018</i></div>
                </li>
                <li class="education-padding text-size-120">
                    <b class="text-size-education-title text-justify"><i>High School Diploma</i></b>, <i>“Mihail Kogalniceanu” Academic High School, Vaslui, Romania.<br />(Mathematics – Informatics specialization)</i>
                    <br />
                    <div class="text-right interval-color"><i>September 2011 - July 2015</i></div>
                </li>
            </ul>
        </div>


        <!--Skills-->
        <div id="Skills" class="row padding-after-section">

            <!-- Computer skills -->
            <div id="Computer_Skills" class="col-lg-6 col-md-12">
                <h2 class="text-center"><b><i><u>Computer Skills</u></i></b></h2>
                <div class="col-lg-7 padding-left-right-none ">
                    <ul class="text-size-skills language-skills-padding">
                        <li>C# (ASP.Net)</li>
                        <li>SQL, PL/SQL, MySQL</li>
                        <li>Angular7, React & Vue [basics]</li>
                        <li>Adobe Illustrator</li>
                        <li>Adobe Photoshop and After Effects [basics]</li>
                        <li>OOP</li>
                    </ul>
                </div>
                <div class="col-lg-5 padding-left-right-none ">
                    <ul class="text-size-skills computer-skills-padding">
                        <li>C/C++</li>
                        <li>HTML, CSS</li>
                        <li>Bootstrap</li>
                        <li>JavaScript</li>
                        <li>Java</li>
                        <li>PHP</li>
                        <li>Python</li>
                    </ul>
                </div>
            </div>

            <!-- Language skills -->
            <div class="col-lg-6 col-md-12">
                <h2 class="text-center"><b><i><u>Language Skills</u></i></b></h2>
                <ul class="text-size-skills">
                    <li>
                        <b>Romanian -</b> native language
                    </li>
                    <li>
                        <b>English -</b> fluent, spoken and written
                    </li>
                    <li>
                        <b>Icelandic -</b> Level 1(<a href="https://www.mimir.is/" target="_blank">Mímir</a>)
                    </li>
                </ul>
            </div>
        </div>


        <!-- Projects and Trainings -->
        <div id="Experience" class="container-fluid padding-after-section">
            <h2 class="text-left"><b><i><u>Projects and additional Trainings</u></i></b></h2>
            <ul class="ul-no-bullets ul-no-padding-left projects">
                <li>
                    <h4>
                        <b class="text-size-education-title text-justify">MediArch</b><i class="interval-color"> – September 2017 - June 2018</i>
                    </h4>
                    <p>
                        &nbsp;&nbsp;This is my <b>bachelor’s degree project</b>, and it stands for <i>“Medical Archive”</i>.
                    </p>
                    <p>
                        &nbsp;&nbsp;It is a Web Application via C# ASP.Net Core, with Oracle SQL Server as database. The architectural pattern 
                        used is MVC (Model-View-Controller).
                    </p>
                    <p>
                        &nbsp;&nbsp;Other concepts used are: Onion Architecture, Entity Framework (as ORM), 3DES Cryptosystem and SOLID Principles.
                    </p>
                    <p>
                        &nbsp;&nbsp;Main target: to help the patients by saving, in a secure way, all their medical background into a database, making all this useful data privately available (only the Doctor and the consulted Patient can see the consultation’s data) at any time.
                    </p>
                    <p class="text-right">
                        [GitHub: <a href="https://github.com/GeorgeMorosanu/Licenta-MediArch" target="_blank">https://github.com/GeorgeMorosanu/Licenta-MediArch</a>]
                    </p>
                </li>
                <li>
                    <h4>
                        <b class="text-size-education-title text-justify"> Course Manager</b><i class="interval-color"> – October 2017 - February 2018</i>
                    </h4>
                    <p>
                        &nbsp;&nbsp;A 6-person team <b>project</b> for one of our courses (Introduction in .NET ~ 1<sup>st</sup> semester, 3<sup>rd</sup> year).
                    </p>
                    <p>
                        &nbsp;&nbsp;It is a Web Application via C# ASP.Net Core, and we were using MVC as architectural pattern. The database was Oracle SQL Server. We have used Trello for delegating tasks.
                    </p>
                    <p>
                        &nbsp;&nbsp;Other concepts used are: Onion Architecture, Entity Framework (as ORM) and SOLID Principles.
                    </p>
                    <p>
                        &nbsp;&nbsp;Main target: to create a functional website related to this course.
                    </p>
                    <p>
                        *At the end of the semester there was a competition (hold by <i>Centric IT Solutions Romania, Iasi</i>), and our project obtained the 3<sup>rd</sup> place.
                    </p>
                    <p class="text-right">
                        [GitHub: <a href="https://github.com/GeorgeMorosanu/Licenta-MediArch" target="_blank">https://github.com/Scyree/.NetProject</a>]
                    </p>
                </li>
                <li>
                    <h4>
                        <b class="text-size-education-title text-justify">FII Online Admission</b><i class="interval-color"> – 2017</i>
                    </h4>
                    <p>
                        &nbsp;&nbsp;A group <b>project</b> (team of 25+ colleagues) for one of our courses (Software Engineering ~ 2<sup>nd</sup> semester, 2<sup>nd</sup> year).
                    </p>
                    <p>
                        &nbsp;&nbsp;Here we have applied all the knowledge taught on this course. I was part of Back-End module, but I also helped the Front-End module when they were in need.
                    </p>
                    <p>
                        &nbsp;&nbsp;Technology we have used: PHP, HTML, CSS, JavaScript and Oracle SQL.
                    </p>
                    <p>
                        *This application was used at the enrollment in our Faculty, in August 2017.
                    </p>
                    <p class="text-right">
                        [GitHub: <a href="https://github.com/GeorgeMorosanu/Licenta-MediArch" target="_blank">https://github.com/NadraX/FII-Online-Admission</a>]
                    </p>
                </li>
                <li>
                    <h4>
                        <b class="text-size-education-title text-justify">“Monster Party” and “Bomber Bot”</b><i class="interval-color"> – 2016 - 2017</i>
                    </h4>
                    <p>
                        &nbsp;&nbsp;Two <b>projects</b>, on small teams (3 and 4 persons); mostly focused on Front-End.
                    </p>
                    <p>
                        &nbsp;&nbsp;Technologies used: PHP, HTML, JavaScript, CSS and MySQL
                    </p>
                    <p class="text-right">
                        [Bomber Bot GitHub: <a href="https://github.com/GeorgeMorosanu/Licenta-MediArch" target="_blank">https://github.com/GeoMoro/ProiectWEB</a>]
                    </p>
                    <p class="text-right">
                        [Monster Party GitHub: <a href="https://github.com/GeorgeMorosanu/Licenta-MediArch" target="_blank">https://github.com/siq10/WebPuzzle</a>]
                    </p>
                </li>
                <li>
                    <h4>
                        <b class="text-size-education-title text-justify">Full-stack .Net Training</b><i class="interval-color"> – “Fii Practic” 2018 - hold by <a href="https://www.beenear.com/" target="_blank">BEENEAR S.R.L.</a></i>
                    </h4>
                    <p>
                        &nbsp;&nbsp;<b>Training</b> focused on .NET technology.
                    </p>
                    <p>
                        *The project I have done obtained the 2<sup>nd</sup> place at their final competition.
                    </p>
                </li>
                <li>
                    <h4>
                        <b class="text-size-education-title text-justify">Back-end .Net Training</b><i class="interval-color"> – “Fii Practic” 2018 - hold by <a href="https://www.maxcode.net/" target="_blank">MaxCode</a></i>
                    </h4>
                    <p>
                        &nbsp;&nbsp;<b>Training</b> focused on .NET technology.
                    </p>
                </li>
                <li>
                    <h4>
                        <b class="text-size-education-title text-justify">Graphic Design Training</b><i class="interval-color"> – “Fii Practic” 2016 - hold by <a href="https://www.centric.eu/RO/Default" target="_blank">Centric IT Solutions</a></i>
                    </h4>
                    <p>
                        &nbsp;&nbsp;This <b>training</b> was hold by Centric IT Solutions Romania, Iasi, and it was focused on Adobe Illustrator and Adobe Photoshop.
                    </p>
                </li>
            </ul>
            <p class="text-size-bigger">
                <a href="https://fiipractic.asii.ro/" target="_blank"><i>“Fii Practic”</i></a> is an event hosted by the Faculty of Computer Science in collaboration with many IT Companies, and there are plenty of interesting training courses every student can apply for.
            </p>
        </div>


        <!-- Personality -->
        <div id="Personality" class="container-fluid padding-after-section">
            <h2><b><i><u>Personality</u></i></b></h2>
            <ul class="personality">
                <li>
                    I am open-minded, flexible, responsible, devoted, trustworthy, ambitious and a good team player
                </li>
                <li>
                    I will always keep my word
                </li>
                <li>
                    I am a quick learner, and I like to learn from my (and especially others’) mistakes
                </li>
                <li>
                    I am an active person; I have practiced Traditional Karate for 10 years, and I earned the Black Belt
                </li>
                <li>
                    Former volunteer at <a href="https://www.asii.ro/" target="_blank">ASII</a> (which is the Association of Students from the <a href="https://www.info.uaic.ro/" target="_blank">Faculty of Computer Science – Iasi, Romania</a>)
                </li>
                <li>
                    I have a driving license (B category)
                </li>
            </ul>
        </div>


        <!-- Interests -->
        <div id="Interests" class="container-fluid padding-after-section">
            <h2><b><i><u>Interests</u></i></b></h2>
            <ul class="interests">
                <li>
                    Working and learning in an innovative and friendly environment;
                </li>
                <li>
                    Learning new techniques;
                </li>
                <li>
                    Being part of a team;
                </li>
            </ul>
        </div>
    </div>
