@{
    ViewData["Title"] = "My story";
}
<h1 id="AppearAfter05Secs" class="text-center padding-bottom-increased">@ViewData["Title"]</h1>
<div class="story-padding story-text-size">
    <div id="AppearAfter1Secs">
        <p>
            &nbsp;&nbsp;As a kid I wanted to become something important: a Doctor. But as I grew up, I saw everything near me changing, and this new
            era of Technology was not to ignore. So, driven by curiosity and being in the last year of high school, I decided that this is the path I want to choose.
            Even though I was attracted by Math and Logical Things, it was pretty challenging for me to turn to this direction.
        </p>

        <p>
            &nbsp;&nbsp;I started to learn and to prepare for the university's exam. And it wasn't easy.
            Anyway, I managed to get a good picture about programming; And as expected, I was admitted at the <i>"Alexandru Ioan Cuza" University of Iasi, Romania</i>.
            More specifically, at the <i>Faculty of Computer Science</i>. So began my jurney in this field.
        </p>

        <p>
            &nbsp;&nbsp;All I knew back then was <b>C/C++</b>, and some basic <b>HTML</b> and <b>CSS</b>. Nothing special. But that was what I enjoy doing, and this was what I thought I'll be doing my
            entire life... <span id="AppearAfter2Secs">I was wrong <i class="em em-sweat_smile"></i>.</span>
        </p>
    </div>
    <div id="AppearAfter3Secs">

        <p>
            &nbsp;&nbsp;While advancing, I learned a lot of things. New languages and new approaches. I will share with you what happened:
        </p>
    </div>
    <div id="AppearAfter4Secs">
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;<b><i>*First year*</i></b>
        </p>
        <p>
            &nbsp;&nbsp;On the 1<sup>st</sup> year, I strengthened my knowledge about <b>C/C++</b>, learning <b>OOP [Object-Oriented Programming]</b>.
            It was amazing, because some of those concepts were totally new for me.
            In the same year, I worked at my <b>logical skills</b> as well, paying attention on the "problem-solving" side.
        </p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;<b><i>*Second year*</i></b>
        </p>
        <p>
            &nbsp;&nbsp;The beginning of this year was focused on the <i>front-end</i> side, by practicing more <i>HTML</i> and <i>CSS</i>, and getting started
            with <b>Javascript</b>.
        </p>
        <p>
            &nbsp;&nbsp;Later that year I focused on the <i>back-end</i> side, by starting to learn <b>PHP</b> and <b>Java</b> (which I was really into,
            at that time... something new, with more options than C/C++). And also got in touch with the Security field
        </p>
        <p>
            &nbsp;&nbsp;I started to study about <b>DataBases</b>, and practiced it the whole year. Inevitably, paid a lot of attention to this subject,
            because I knew that I was going to use this a lot in the upcoming years.
        </p>
        <p>
            &nbsp;&nbsp;The <i>group projects</i> started to appear. Then I started to be more <i>patient</i>, and to practice my <i>soft skills</i>, as well as my
            <i>ability to explain</i> what I know, and to be a <i>hard worker</i>.
        </p>
        <p>
            &nbsp;&nbsp;In this year I took a course named <i>Software Engineering</i>, which was very innovative. <b>Agile</b> and <b>Scrum methodology</b>
            were only few things that I understood in that course. Those subjects really opened my apetite for this field, and that was the moment
            I decided that I wanted to continue in this direction.
        </p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;<b><i>*Third year*</i></b>
        </p>

        <p>
            &nbsp;&nbsp;That year started so promising, but the reality hit me hard.
            <i>A.I.[Artificial Intelligence]</i>, <i>Machine Learning</i> and <i>Computer Graphics</i> were among the most impressing titles that I have heard until then.
            Their description was very intriguing.
            But after spending few hours listening to some of our laboratory/course teachers (who were bored and unintrested about making the students
            attracted by those subjects), I choose to focus elsewhere.
        </p>

        <p>
            &nbsp;&nbsp;Beside practicing a little more our <i>front-end skills</i> (<i>CSS</i>, <i>HTML</i>, <i>JavaScript</i>), I learned two more programming languages.
            The first one was <b>Python</b> (which, for me, represented a pretty strong competitor for <i>Java</i>). I understood it, but I didn't have the occasion
            to master it because I've met other programming language, that was way over the ones I knew until then.
        </p>
        <p>
            &nbsp;&nbsp;I'm talking about <b>C#</b>. This beautiful language.
        </p>
        <p>
            &nbsp;&nbsp;I was lucky enough to meet somebody awesome [not only as a teacher, but as an individual]. My <i>"Introduction in C#"</i> Teacher.
            He was so passionate about this subject, and knew a lot of things.
            He presented it so well, it was hard not to understand the subject.
        </p>
        <p>
            &nbsp;&nbsp;He taught us a lot of new things, and introduced us to this whole new universe. An strong attraction for this new programming language just
            awaken inside me. <i>C#</i> became my favorite programming language, and I decided that this language will be the chosen one to help me build my final
            project (for my B.Sc. degree).
            I asked him if he wanted to be my scientific coordinator, and luckly, he agreed.
        </p>
        <p>
            &nbsp;&nbsp;In the end, the project went great, and I successfully finished my studies.
        </p>
        <p>
            &nbsp;&nbsp;After my studies, I started to learn a little bit about Angular7, React and Vue, because I saw a lot of
            news about them. I was curios, so I tried to understand the basics of them [through YouTube tutorials and Udemy Courses].
        </p>
    </div>
    <div id="AppearAfter5Secs">
        <p class="padding-top-increased">
            &nbsp;&nbsp;To summarise, this is what I've learned:
        </p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;<b>Computer skills:</b> Mentioned on my Resume page, right <a href="/Resume/#Computer_Skills">here</a>.</p>

        <div class="row text-align-normal">

            <div class="col-lg-8">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;<b>Other skills:</b></p>
                <div class="col-lg-6">
                    <ul class="text-size-skills-story language-skills-padding">
                        <li>Attention to Detail</li>
                        <li>Responsible</li>
                        <li>Team Player</li>
                        <li>Analytical Skills</li>
                        <li>Problem-Solving</li>
                        <li>Quick Learner</li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul class="text-size-skills-story computer-skills-padding">
                        <li>Flexible</li>
                        <li>Trust-worthy</li>
                        <li>Punctual</li>
                        <li>Ambitious</li>
                        <li>Devoted</li>
                        <li>Patient </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div id="AppearAfter6Secs">
        <h2>Activities that I enjoy doing:</h2>
        <ul>
            <li>Learning new things [from YouTube, Udemy and other platforms]</li>
            <li>Giving & Receiving Feedback</li>
            <li>Cycling, Roller Skating and Ice Skating</li>
            <li>Running and Jogging</li>
            <li>Gaming [Video Games + Board Games]</li>
            <li>Traveling</li>
            <li>Going to Gym and to the Poll</li>
            <li>Voleyball and Basketball</li>
            <li>Ping Pong, Bowling and 8-ball Pool</li>
            <li>Practicing my Adobe Illustrator Skills</li>
            <li>Traditional Karate</li>
        </ul>
    </div>
</div>
