
@{
    ViewData["Title"] = "Not_Found";
}
    <div id="error_img">
        <img class="img-responsive" src="~/images/404_IMG.png" />
    </div>
    <div id="text_img">
        <img class="img-responsive" src="~/images/404_MSG.png" />
    </div>