@{
    ViewData["Title"] = "Contact";
}
<div class="text-size-130">
    <h2 class="text-center padding-contact">In case you want to contact me:</h2>

    <br />

    <div class="padding-contact">
        <p><b>Address:</b> <a href="https://www.google.com/maps/place/M%C3%B6%C3%B0rufell+7,+Reykjav%C3%ADk/data=!4m2!3m1!1s0x48d673125ddb2029:0xd6609d0ce659ce3d?sa=X&ved=2ahUKEwj446KJqcjhAhXRJVAKHSSCBUcQ8gEwAHoECAkQAQ" target="_blank">Möðrufell 7, 3HH, 111 Reykjavík, Iceland</a></p>
        <p><b>Phones:</b> [Iceland] +354 777 2181</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[Romania] +4 0751 871 000</p>

        <br />

        <p><b>(<span class="daily">daily</span>) Gmail:</b> <a href="https://mail.google.com/mail/?view=cm&fs=1&to=georgecosminmorosanu@gmail.com" target="_blank">georgecosminmorosanu@gmail.com</a></p>
        <p><b>(<span class="daily">daily</span>) LinkedIn:</b> <a href="https://www.linkedin.com/in/george-cosmin-morosanu-58272115a/" target="_blank">https://www.linkedin.com/in/george-cosmin-morosanu-58272115a/</a></p>
        <p><b>(<span class="daily">daily</span>) Facebook:</b> <a href="https://www.facebook.com/georgecosmin.morosanu" target="_blank">https://www.facebook.com/georgecosmin.morosanu</a></p>
        <p><b>(<span class="daily">daily</span>) Steam:</b> <a href="https://steamcommunity.com/id/GadoZ/" target="_blank">https://steamcommunity.com/id/GadoZ/</a></p>
        <p><b>(<span class="rarely">rarely</span>) Instagram:</b> <a href="https://www.instagram.com/george.morosanu1067/" target="_blank">https://www.instagram.com/george.morosanu1067/</a></p>

        <br />

        <p><b>Github <span class="daily">current</span>:</b> <a href="https://github.com/GeorgeMorosanu" target="_blank">https://github.com/GeorgeMorosanu</a></p>
        <p><b>Github <span class="rarely">old</span>:</b> <a href="https://github.com/GeoMoro" target="_blank">https://github.com/GeoMoro</a></p>
    </div>


</div>


@*Facebook
    LinkedIn
    Gmail
    Phone
    Address (in case of mails)*@
